.square {
  background-color: transparent;
  border: none;
  font-size: 8.5vw;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;
}
